<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Acerca de Ecodrive</h2>
            
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0">Nuestros Valores</h4>
                </div>
                <div class="card-body">
                    <p><strong>Responsabilidad Ambiental:</strong> Estamos comprometidos con el medio ambiente, adoptando prácticas ecológicas en todas nuestras operaciones.</p>
                    <p><strong>Integridad:</strong> Actuamos con honestidad, honorando nuestros compromisos con clientes y socios.</p>
                    <p><strong>Innovación:</strong> Buscamos constantemente nuevas soluciones para mejorar la movilidad y reducir el impacto ambiental.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0">Nuestros Objetivos</h4>
                </div>
                <div class="card-body ">
                    <p><strong>Impacto Positivo:</strong> Nuestro objetivo es mejorar la calidad del aire en nuestras ciudades, reduciendo las emisiones de CO2.</p>
                    <p><strong>Educación Ambiental:</strong> Fomentar la conciencia ecológica en la sociedad, promoviendo prácticas sostenibles en el transporte.</p>
                    <p><strong>Crecimiento Sostenible:</strong> Expandir nuestras operaciones, manteniendo un equilibrio con el entorno y garantizando un crecimiento respetuoso con el medio ambiente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
