<div class="container mt-5">
    <h2 class="mb-4">Términos y Condiciones de Uso de EcoDrive</h2>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">1. Introducción</h4>
            <p>Al registrarte y usar EcoDrive, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con estos términos, por favor no utilices nuestra plataforma.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">2. Uso del Servicio</h4>
            <p>Los usuarios se comprometen a utilizar la plataforma de manera adecuada y no emplearla para realizar actividades ilícitas o contrarias a la buena fe.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">3. Propiedad Intelectual</h4>
            <p>Todos los derechos de propiedad intelectual del contenido de EcoDrive y su diseño son propiedad exclusiva de la compañía, y es a quien le corresponde el ejercicio exclusivo de los derechos de explotación de los mismos. Por tanto, queda prohibida su reproducción, distribución, comunicación pública y transformación, total o parcial, sin autorización expresa de EcoDrive.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">4. Limitación de Responsabilidad</h4>
            <p>EcoDrive no se responsabiliza de los daños y perjuicios que pudieran ocasionarse a través del uso de la información provista a través del servicio. Los usuarios eximen a EcoDrive de cualquier responsabilidad relacionada con la fiabilidad, utilidad o expectativas que este servicio pudiera producirles.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">5. Modificaciones</h4>
            <p>EcoDrive se reserva el derecho a realizar cambios en la plataforma, en los servicios ofrecidos y en estos términos y condiciones en cualquier momento y sin previo aviso.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">6. Legislación y Jurisdicción Aplicable</h4>
            <p>Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del país en el que se ofrezca el servicio. Cualquier controversia se someterá a los tribunales del mismo.</p>
        </div>
    </div>

</div>
