<%# Utiliza las clases de alerta de Bootstrap para mostrar el mensaje de notificación %>
<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1 class="my-4">Autos</h1>

<div id="cars">
  <% @cars.each do |car| %>
    <div class="card my-3">
      <div class="card-body">
        <%= render car %>
        <%= link_to "Mostrar este coche", car, class: "btn btn-info mt-2" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Nuevo coche", new_car_path, class: "btn btn-primary mt-4" %>
